# Quick Start: Pandas API on Spart

ref: https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_ps.html

In [1]:
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [2]:
# ps is a pandas on spark!
s = ps.Series([1, 3, 5, np.nan, 6, 8])
s

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/15 15:54:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/15 15:54:36 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/01/15 15:54:36 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
psdf = ps.DataFrame(
    {'a': [1, 2, 3, 4, 5, 6],
     'b': [100, 200, 300, 400, 500, 600],
     'c': ["one", "two", "three", "four", "five", "six"]},
    index=[10, 20, 30, 40, 50, 60])

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [4]:
psdf

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

In [6]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
pdf = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
pdf

                   A         B         C         D
2013-01-01 -0.732359 -0.585640  0.303504  1.144883
2013-01-02 -0.604145  0.613249  1.246685 -1.181437
2013-01-03 -2.046287 -1.502866  0.268546 -1.242283
2013-01-04 -1.129776  0.293279 -1.826089  0.048488
2013-01-05  0.174213 -0.058279 -0.680617  0.484222
2013-01-06 -0.956099 -0.425857 -0.937783 -0.096727

In [8]:
# Pandas on spark dataframe from pandas dataframe
psdf = ps.from_pandas(pdf)

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [9]:
type(psdf) # It is a pyspark.pandas

pyspark.pandas.frame.DataFrame

In [10]:
psdf

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

                   A         B         C         D
2013-01-01 -0.732359 -0.585640  0.303504  1.144883
2013-01-02 -0.604145  0.613249  1.246685 -1.181437
2013-01-03 -2.046287 -1.502866  0.268546 -1.242283
2013-01-04 -1.129776  0.293279 -1.826089  0.048488
2013-01-05  0.174213 -0.058279 -0.680617  0.484222
2013-01-06 -0.956099 -0.425857 -0.937783 -0.096727

In [11]:
spark = SparkSession.builder.getOrCreate()
sdf = spark.createDataFrame(pdf) # Create a spark dataframe from spark dataframe
sdf.show()

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+-------------------+--------------------+-------------------+--------------------+
|                  A|                   B|                  C|                   D|
+-------------------+--------------------+-------------------+--------------------+
|-0.7323587016435574| -0.5856399033474394|0.30350415344010667|  1.1448832642999194|
|-0.6041447300071395|  0.6132492347458923| 1.2466852293815165| -1.1814372083514115|
| -2.046287208970685| -1.5028661096611808|0.26854626954849303| -1.2422834629920454|
|-1.1297755481631127| 0.29327906282005317|-1.8260891381913118| 0.04848786243027692|
|0.17421278359561992|-0.05827898328745088|-0.6806169904616991| 0.48422171173211104|
|-0.9560992099753115|-0.42585744656802377|-0.9377829414014992|-0.09672675549269238|
+-------------------+--------------------+-------------------+--------------------+

In [12]:
# Create a pandas on spark dataframe from spark dataframe
psdf = sdf.pandas_api()
psdf

          A         B         C         D
0 -0.732359 -0.585640  0.303504  1.144883
1 -0.604145  0.613249  1.246685 -1.181437
2 -2.046287 -1.502866  0.268546 -1.242283
3 -1.129776  0.293279 -1.826089  0.048488
4  0.174213 -0.058279 -0.680617  0.484222
5 -0.956099 -0.425857 -0.937783 -0.096727

In [14]:
psdf.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [15]:
psdf.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [16]:
psdf.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
psdf.to_numpy()

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

array([[-0.7323587 , -0.5856399 ,  0.30350415,  1.14488326],
       [-0.60414473,  0.61324923,  1.24668523, -1.18143721],
       [-2.04628721, -1.50286611,  0.26854627, -1.24228346],
       [-1.12977555,  0.29327906, -1.82608914,  0.04848786],
       [ 0.17421278, -0.05827898, -0.68061699,  0.48422171],
       [-0.95609921, -0.42585745, -0.93778294, -0.09672676]])

In [18]:
psdf.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.882409 -0.277686 -0.270959 -0.140476
std    0.726310  0.746427  1.091350  0.935692
min   -2.046287 -1.502866 -1.826089 -1.242283
25%   -1.129776 -0.585640 -0.937783 -1.181437
50%   -0.956099 -0.425857 -0.680617 -0.096727
75%   -0.604145  0.293279  0.303504  0.484222
max    0.174213  0.613249  1.246685  1.144883

In [19]:
psdf.T

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

          0         1         2         3         4         5
A -0.732359 -0.604145 -2.046287 -1.129776  0.174213 -0.956099
B -0.585640  0.613249 -1.502866  0.293279 -0.058279 -0.425857
C  0.303504  1.246685  0.268546 -1.826089 -0.680617 -0.937783
D  1.144883 -1.181437 -1.242283  0.048488  0.484222 -0.096727

In [20]:
psdf.sort_index(ascending=False)

          A         B         C         D
5 -0.956099 -0.425857 -0.937783 -0.096727
4  0.174213 -0.058279 -0.680617  0.484222
3 -1.129776  0.293279 -1.826089  0.048488
2 -2.046287 -1.502866  0.268546 -1.242283
1 -0.604145  0.613249  1.246685 -1.181437
0 -0.732359 -0.585640  0.303504  1.144883

In [21]:
psdf.sort_values(by='B')

          A         B         C         D
2 -2.046287 -1.502866  0.268546 -1.242283
0 -0.732359 -0.585640  0.303504  1.144883
5 -0.956099 -0.425857 -0.937783 -0.096727
4  0.174213 -0.058279 -0.680617  0.484222
3 -1.129776  0.293279 -1.826089  0.048488
1 -0.604145  0.613249  1.246685 -1.181437

In [23]:
# Missing datas
pdf1 = pdf.reindex(index=dates[0:4], columns=list(pdf.columns) + ['E'])
pdf1.loc[dates[0]:dates[1], 'E'] = 1
psdf1 = ps.from_pandas(pdf1)
psdf1

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

                   A         B         C         D    E
2013-01-01 -0.732359 -0.585640  0.303504  1.144883  1.0
2013-01-02 -0.604145  0.613249  1.246685 -1.181437  1.0
2013-01-03 -2.046287 -1.502866  0.268546 -1.242283  NaN
2013-01-04 -1.129776  0.293279 -1.826089  0.048488  NaN

In [24]:
psdf1.dropna(how='any')

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

                   A         B         C         D    E
2013-01-01 -0.732359 -0.585640  0.303504  1.144883  1.0
2013-01-02 -0.604145  0.613249  1.246685 -1.181437  1.0

In [25]:
psdf1.fillna(value=5)

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

                   A         B         C         D    E
2013-01-01 -0.732359 -0.585640  0.303504  1.144883  1.0
2013-01-02 -0.604145  0.613249  1.246685 -1.181437  1.0
2013-01-03 -2.046287 -1.502866  0.268546 -1.242283  5.0
2013-01-04 -1.129776  0.293279 -1.826089  0.048488  5.0

In [26]:
# Stats
psdf.mean()

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

A   -0.882409
B   -0.277686
C   -0.270959
D   -0.140476
dtype: float64

In [27]:
# Grouping
psdf = ps.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})
psdf

/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/opt/homebrew/Caskroom/miniforge/base/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

     A      B         C         D
0  foo    one -1.439023 -0.179073
1  bar    one  0.761123  0.494156
2  foo    two -1.104138 -1.013267
3  bar  three  0.001336  0.692395
4  foo    two  0.491949 -1.169173
5  bar    two -0.672465  0.252382
6  foo    one  1.097636  0.256446
7  foo  three -0.332108  0.085832

In [28]:
psdf.groupby('A').sum()

            C         D
A
foo -1.285683 -2.019234
bar  0.089993  1.438933

In [29]:
psdf.groupby(['A', 'B']).sum()

                  C         D
A   B
foo one   -0.341387  0.077373
bar one    0.761123  0.494156
foo two   -0.612189 -2.182439
bar three  0.001336  0.692395
    two   -0.672465  0.252382
foo three -0.332108  0.085832

In [30]:
# Plotting
pser = pd.Series(np.random.randn(1000),
                 index=pd.date_range('1/1/2000', periods=1000))

23/01/15 16:21:12 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 463036 ms exceeds timeout 120000 ms
23/01/15 16:21:12 WARN SparkContext: Killing executors is not supported by current scheduler.